/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font size/family */
@font-face {
  font-family: "Museo Cyrl Reg";
  src: url("../fonts/Museo_Cyrillic/Museo_Cyrl_500.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Cyrl Bold";
  src: url("../fonts/Museo_Cyrillic/Museo_Cyrl_700.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Cyrl ExtraBold";
  src: url("../fonts/Museo_Cyrillic/Museo_Cyrl_900.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Reg";
  src: url("../fonts/Roboto/Roboto-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto/Roboto-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
/*** GENERAL STYLES ** */
*:focus, *:active {
  outline: none !important;
}

html {
  overflow: hidden;
}

body {
  height: 100vh;
  min-width: 450px;
  margin: 0;
  padding: 0;
  font-family: "Museo Cyrl Reg", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #3c3c3c;
  line-height: 1;
  background-color: #FFFFFF;
  overflow-y: scroll;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: unset;
  color: inherit;
}

.btn {
  display: inline-block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-family: "Museo Cyrl Reg", "Arial", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 2;
  padding: 5px 50px;
  border: none;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .btn {
    font-size: 13px;
  }
}
.btn:hover {
  opacity: 0.9;
}

.w100 {
  width: 100%;
}

.btn-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.title {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 1px;
}
.title_color-white {
  color: #ffffff;
}

.subtitle {
  font-size: 1rem;
  font-weight: normal;
  line-height: 2;
  text-align: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

b {
  font-family: "Museo Cyrl Bold", "Arial", sans-serif;
}

.bl__inner {
  padding-top: 75px;
  padding-bottom: 75px;
}
