/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font size/family */
@font-face {
  font-family: "Museo Cyrl Reg";
  src: url("../fonts/Museo_Cyrillic/Museo_Cyrl_500.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Cyrl Bold";
  src: url("../fonts/Museo_Cyrillic/Museo_Cyrl_700.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Cyrl ExtraBold";
  src: url("../fonts/Museo_Cyrillic/Museo_Cyrl_900.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Cyrl Light";
  src: url("../fonts/Museo_Cyrillic/Museo_Cyrl_300.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Reg";
  src: url("../fonts/Roboto/Roboto-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto/Roboto-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto/Roboto-Black.ttf");
  font-weight: normal;
  font-style: normal;
}
/*** GENERAL STYLES ** */
*:focus, *:active {
  outline: none !important;
}

html {
  overflow: hidden;
}

body {
  height: 100vh;
  min-width: 450px;
  margin: 0;
  padding: 0;
  font-family: "Museo Cyrl Light", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #3c3c3c;
  line-height: 1;
  background-color: #FFFFFF;
  overflow-y: scroll;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: unset;
  color: inherit;
}

.btn {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Museo Cyrl Reg", "Arial", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 2;
  padding: 10px 20px;
  border: none;
  text-align: center;
  cursor: pointer;
  background: #f78500;
  background: linear-gradient(165deg, #f78500 0%, #f31f15 100%);
  -webkit-box-shadow: 0px 9px 18px 0px rgba(128, 128, 128, 0.23);
  -moz-box-shadow: 0px 9px 18px 0px rgba(128, 128, 128, 0.23);
  box-shadow: 0px 9px 18px 0px rgba(128, 128, 128, 0.23);
}
.btn:hover {
  opacity: 0.9;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.logo__ic {
  min-width: 80px;
  width: 80px;
  height: 120px;
}
.logo__ic img {
  width: 100%;
  height: 100%;
}
.logo__text {
  display: inline-block;
  font-size: 12px;
  color: #3c3c3c;
  line-height: 1.5;
  margin-left: 15px;
  padding: 15px;
  border-left: 1px solid #ACACAC;
}

.w100 {
  width: 100%;
}


.text-colored {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 3px;
}
.text-colored__in {
  font-size: 25px;
  padding: 5px 15px;
}

.btn-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.title {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 1px;
}
.title_color-white {
  color: #ffffff;
}

.subtitle {
  font-size: 1rem;
  font-weight: normal;
  line-height: 2;
  text-align: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

b {
  font-weight: 700;
}

.bl__inner {
  padding-top: 80px;
  padding-bottom: 80px;
}
.bl--dark {
  background-color: #313131;
  color: #FFFFFF;
}

.whatsapp {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-image: url("../images/ic/ic_wapp_num.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.ic_smile {
  position: relative;
}
.ic_smile::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 6px;
  right: calc(-16px - 3px);
  width: 16px;
  height: 16px;
  background-image: url("../images/ic/ic_wink.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.ic_present {
  display: inline-block;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0px;
  margin: 0px;
  background-image: url("../images/ic/ic_box.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.form-control {
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  padding: 10px 45px 10px 30px;
  line-height: 2;
  height: auto;
  color: #838383;
  background-color: #E2E2E2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 12px 32px 0px rgba(39, 39, 39, 0.06);
  -moz-box-shadow: 0px 12px 32px 0px rgba(39, 39, 39, 0.06);
  box-shadow: 0px 12px 32px 0px rgba(39, 39, 39, 0.06);
}

.msg {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #FFFFFF;
  color: #3c3c3c;
  padding: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  min-width: 100px;
  position: relative;
}
.msg::before {
  position: absolute;
  content: "";
  top: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  line-height: 0px;
  border-color: transparent;
}
.msg--left::before {
  right: -12px;
  border-width: 16px 0 16px 17.3px;
  border-left-color: #FFFFFF;
}
.msg--right::before {
  left: -12px;
  border-width: 16px 17.3px 16px 0;
  border-right-color: #FFFFFF;
}
.msg.msg--left.bg--green::before {
  border-left-color: #1FAA67;
}
.msg.msg--right.bg--green::before {
  border-right-color: #1FAA67;
}

.red {
  color: #D72D10;
}

.bg--green {
  background-color: #1FAA67;
  color: #FFFFFF;
}

.bg--yellow {
  background-color: #E2BF00;
  color: #3c3c3c;
}

/*** CONTAINER BLOCK ** */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1230px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.content {
  width: 100%;
}

/*** HEADER BLOCK ** */
.wrap-header {
  width: 100%;
  height: 900px;
  background-color: #C6D9D0;
  background-image: url(../images/content/banner_bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.header {
  width: 100%;
  color: #3c3c3c;
  position: relative;
}
.header__logo {
  width: 300px;
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.header .logo__text {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.header .quest {
  margin-left: auto;
  margin-top: 10px;
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.header .ic_present {
  margin-right: 7%;
  margin-left: 6%;
  margin-top: 1.5%;
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.header .menu-nav {
  margin-top: -30px;
}

.header .bl__inner, .footer .bl__inner {
  padding: 23px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: end;
  -moz-align-self: end;
  -ms-flex-item-align: end;
  align-self: end;
}
.contacts__text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 2;
}
.contacts__phone {
  font-family: "Museo Cyrl Light", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.quest {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 2;
  text-align: right;
}
.quest .whatsapp {
  margin-right: 3px;
}

.menu-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 65px;
  background-color: #E2E2E2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.menu-nav-item {
  display: inline-block;
  font-family: "Museo Cyrl Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #909090;
  border-top: 3px solid transparent;
  padding: 12px 0px;
  margin: 0px 20px;
}
.menu-nav-li {
  background-color: #E2E2E2;
}
.menu-nav-li:hover .menu-nav-item {
  border-top-color: #33A042;
  color: #3c3c3c;
}

.main-banner {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
}
.main-banner .bl__inner {
  max-width: 700px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.main-banner__title {
  font-size: 28px;
  font-family: "Museo Cyrl Bold", "Arial", sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.main-banner__subtitle {
  font-size: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 15px;
}
.main-banner .form-group {
  margin-right: 10px;
}
.main-banner .btn-wrap {
  margin-bottom: 30px;
}

.advantage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  width: 540px;
}
.advantage-item {
  font-size: 16px;
  line-height: 3;
  font-family: "Roboto", "Arial", sans-serif;
  margin-top: 100px;
  width: 250px;
  text-align: center;
  position: relative;
}
.advantage-item::after {
  content: "";
  position: absolute;
  top: -80px;
  left: 50%;
  width: 90px;
  height: 80px;
  margin-left: calc(-90px/2);
  margin-top: -20px;
  background-color: transparent;
  background-image: url("../images/content/ellipse.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.advantage-item::before {
  content: "";
  position: absolute;
  top: -80px;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-left: calc(-80px/2);
  z-index: 1;
  background-color: transparent;
  background-image: url("../images/content/quarantee.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.advantage .mount::before {
  background-position: 16px 0px;
  background-image: url("../images/content/clock.png");
}
.advantage .guarant::before {
  background-position: 16px 0px;
  background-image: url("../images/content/guarantee.png");
}
.advantage .depart::before {
  background-image: url("../images/content/tape_measure.png");
  background-position: 0px 16px;
}
.advantage .prepayment::before {
  background-image: url("../images/content/wallet.png");
}

.guarant-label {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  color: #23c175;
  font-size: 14px;
  line-height: 2;
  background-color: #FFFFFF;
  background-image: url("../images/content/date_bg.png");
  background-size: 210%;
  background-position: 50% -12px;
  background-repeat: no-repeat;
}

.footer {
  font-size: 14px;
}
.footer__logo {
  width: 300px;
}
.footer .logo__ic {
  min-width: 60px;
  width: 60px;
  height: 90px;
}
.footer .logo__text {
  color: #FFFFFF;
  border-left: 0px;
  font-size: 12px;
}
.footer__copyright {
  width: 500px;
  text-align: center;
  line-height: 1.5;
}

.introduce {
  background-color: #CCD0D2;
}
.introduce .bl__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.introduce__side {
  width: 50%;
  background-color: aqua;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.assortment {
  background: #e7ecee;
}

.cells {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.cells__row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 30px;
}
.cells__row:last-child {
  margin-bottom: 0;
}

.cells__card {
  width: 32%;
  background: #FFFFFF;
  border-radius: 5px;
}

.cell__slider {
  border-radius: 5px;
  margin-bottom: 52px;
}

.cell__slider .item {
  border-radius: 5px;
}

.cell_img, .carousel-inner {
  border-radius: 5px;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.carousel-arrow {
  width: 25px;
  height: 25px;
  background: #ffd800;
  display: inline-block;
  position: absolute;
  top: 46%;
  border-radius: 50%;
  border: 1px solid #fff;
}

.carousel-arrow:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../images/ic/ic_arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  top: 5px;
  left: 5px;
  transform: rotate(270deg);
}

.carousel-arrow.arrow-left:before {
  transform: rotate(90deg);
}

.cells__desc {
  padding: 0 35px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 278px;
}

.cells__title {
  font-size: 18px;
  margin-bottom: 18px;
  text-align: left;
}

.cells__text {
  font-size: 14px;
  color: #868686;
  line-height: 1.5;
}

.cells__footer {
  display: flex;
  margin-top: auto;
}

.cells_price {
  font-weight: 900;
  padding: 15px;
  border: 4px solid #ffea80;
  border-radius: 2px 2px 0 10px;
  border-right-color: transparent;
  border-right-width: 0;
}

.cells_order-btn {
  flex-grow: 1;
}

.upperText {
  vertical-align: super;
  font-size: 12px;
}

.steps {
  background: #e7ecee;
}

.steps__inner {
  padding-top: 28px;
}

.steps__quest--wrapper {
  display: flex;
  padding-left: 55px;
}

.steps__circle {
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
}

.steps__quest {
  margin-left: 35px;
  font-family: "Museo Cyrl Reg", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
}

.steps__nums {
  display: flex;
  padding-top: 53px;
}

.step {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step__img--wrapper {
  min-height: 78px;
  margin-bottom: 18px;
  position: relative;
}
.step__img--wrapper:after {
  content: attr(data-stepNum);
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 50px;
  color: #ffffff;
  font-family: "Roboto Black", "Arial", sans-serif;
}
.step__img--wrapper[data-stepNum="01"] {
  width: 65px;
}
.step__img--wrapper[data-stepNum="02"] {
  width: 85px;
}
.step__img--wrapper[data-stepNum="03"] {
  width: 150px;
}
.step__img--wrapper[data-stepNum="04"] {
  width: 74px;
  top: -9px;
}

.step__img--wrapper[data-stepNum="02"] .step__img {
  top: -10px;
  left: -20px;
}

.step__img--wrapper[data-stepNum="03"] .step__img {
  top: -18px;
  left: -10px;
}

.step__img--wrapper[data-stepNum="04"] .step__img {
  top: -17px;
  left: -28px;
}

.step__img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 100;
}

.step__title {
  font-size: 15px;
  margin-bottom: 17px;
  text-transform: uppercase;
}

.step__desc {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
}

.our_works {
  background: #e7ecee;
}

.works__info {
  display: flex;
  justify-content: space-between;
  padding: 0 75px;
}

.works__col {
  width: 46%;
}

/*# sourceMappingURL=style.css.map */
