/* http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font size/family */
@font-face {
  font-family: "Museo Cyrl Reg";
  src: url("../fonts/Museo_Cyrillic/Museo_Cyrl_500.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Cyrl Bold";
  src: url("../fonts/Museo_Cyrillic/Museo_Cyrl_700.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Cyrl ExtraBold";
  src: url("../fonts/Museo_Cyrillic/Museo_Cyrl_900.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Reg";
  src: url("../fonts/Roboto/Roboto-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto/Roboto-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
/*** GENERAL STYLES ***/
*:focus, *:active {
  outline: none !important;
}

html {
  overflow: hidden;
}

body {
  height: 100vh;
  min-width: 450px;
  margin: 0;
  padding: 0;
  font-family: "Museo Cyrl Reg", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #3c3c3c;
  line-height: 1;
  background-color: #FFFFFF;
  overflow-y: scroll;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: unset;
  color: inherit;
}

.btn {
  display: inline-block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-family: "Museo Cyrl Reg", "Arial", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 2;
  padding: 5px 5px;
  border: none;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .btn {
    font-size: 13px;
  }
}
.btn:hover {
  opacity: 0.9;
}

.w100 {
  width: 100%;
}

.btn-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.title {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 1px;
}
.title_color-white {
  color: #ffffff;
}

.subtitle {
  font-size: 1rem;
  font-weight: normal;
  line-height: 2;
  text-align: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

b {
  font-family: "Museo Cyrl Bold", "Arial", sans-serif;
}

.bl__inner {
  padding-top: 75px;
  padding-bottom: 75px;
}

.assortment {
  background: #e7ecee;
}

.cells {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.cells__row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 30px;
}
.cells__row:last-child {
  margin-bottom: 0;
}

.cells__card {
  width: 32%;
  background: #FFFFFF;
  border-radius: 5px;
}

.cell__slider {
  border-radius: 5px;
  margin-bottom: 52px;
}

.cell__slider .item {
  border-radius: 5px;
}

.cell_img, .carousel-inner {
  border-radius: 5px;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.carousel-arrow {
  width: 25px;
  height: 25px;
  background: #ffd800;
  display: inline-block;
  position: absolute;
  top: 46%;
  border-radius: 50%;
  border: 1px solid #fff;
}

.carousel-arrow:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../images/ic/ic_arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  top: 5px;
  left: 5px;
  transform: rotate(270deg);
}

.carousel-arrow.arrow-left:before {
  transform: rotate(90deg);
}

.cells__desc {
  padding: 0 35px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 278px;
}

.cells__title {
  font-size: 18px;
  margin-bottom: 18px;
  text-align: left;
}

.cells__text {
  font-size: 14px;
  color: #868686;
  line-height: 1.5;
}

.cells__footer {
  display: flex;
  border: 4px solid #ffea80;
  border-radius: 2px 2px 10px 10px;
  margin-top: auto;
}

.cells_price {
  font-weight: 900;
  padding: 15px;
}

.cells_order-btn {
  border-radius: 0;
  flex-grow: 1;
}

.upperText {
  vertical-align: super;
  font-size: 12px;
}

.steps {
  background: #e7ecee;
}

.steps__inner {
  padding-top: 28px;
}

.steps__quest--wrapper {
  display: flex;
  padding-left: 55px;
}

.steps__circle {
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
}

.steps__quest {
  padding: 25px 45px;
  background: #fff;
  border-radius: 10px;
  margin-left: 35px;
}

.steps__nums {
  display: flex;
  padding-top: 53px;
}

.step {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step__img--wrapper {
  width: 65px;
  margin-bottom: 18px;
  position: relative;
  min-height: 71px;
}
.step__img--wrapper:after {
  content: attr(data-stepNum);
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 50px;
  color: #ffffff;
}

.step__img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 100;
}

.step__title {
  font-size: 15px;
  margin-bottom: 17px;
}

.step__desc {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
