
/*** HEADER BLOCK ***/

.wrap-header
	width: 100%
	height: 900px
	background:
		color: #C6D9D0
		image: url(../images/content/banner_bg_1.jpg)
		repeat: no-repeat
		size: cover
		//size: 650px
		//position: 84% 47px
	+flexbox
	+flex-direction(column)
	position: relative

.header
	width: 100%
	color: $col_font_main
	position: relative
	&__logo
		width: $w_header_logo
		+align-self(flex-start)
	.logo__text
		+align-self(flex-start)
	.quest
		margin-left: auto
		margin-top: 10px
		+align-self(flex-start)
	.ic_present
		margin-right: 7%
		margin-left: 6%
		margin-top: 1.5%
		+align-self(flex-start)
	.menu-nav
		margin-top: -30px

.header, .footer
	.bl__inner
		padding: $pTB_bl_in_header 0px
		+flexbox
		+justify-content(space-between)
		+align-items(center)

.contacts
	+flexbox
	+flex-direction(column)
	+align-self(end)
	&__text
		font-family: $ff_roboto
		font-size: 12px
		line-height: 2
	&__phone
		font-family: $ff_body
		font-size: 20px
		line-height: 1.2

.quest
	font-family: $ff_roboto
	font-size: 14px
	line-height: 2
	text-align: right
	.whatsapp
		margin-right: 3px

.menu-nav
	+flexbox
	padding: 0px 65px
	background-color: $col_menu_nav_bg
	+border_radius(4px)
	&-item
		display: inline-block
		font-family: $ff_nav
		font-size: 14px
		line-height: 2
		letter-spacing: 1px
		text-transform: uppercase
		color: $col_nav_menu
		border-top: 3px solid transparent
		padding: 12px 0px
		margin: 0px 20px
	&-li
		background-color: $col_menu_nav_bg
		&:hover
			.menu-nav-item
				border-top-color: $green
				color: $col_font_main

.main-banner
	height: 100%
	+flexbox
	flex: 1
	+align-items(center)
	position: relative
	.bl__inner
		max-width: 700px
		+flexbox
		+flex-direction(column)
		+align-items(flex-start)
		+justify-content(center)
	&__title
		font-size: $fs_main_banner_title
		font-family: $ff_bold
		letter-spacing: 1px
		line-height: 1.5
		text-align: left
		text-transform: uppercase
		margin-bottom: $mB_main_banner
	&__subtitle
		font-size: $fs_main_banner_subtitle
		font-family: $ff_roboto
		letter-spacing: 1px
		line-height: 1.5
		text-align: left
		margin-bottom: 15px
	.form-group
		margin-right: 10px
	.btn-wrap
		margin-bottom: 30px

.advantage
	+flexbox
	+flex-wrap(wrap)
	+justify-content(space-between)
	width: $w_adv
	&-item
		font-size: 16px
		line-height: 3
		font-family: $ff_roboto
		margin-top: 100px
		width: $w_adv_it
		text-align: center
		position: relative
		&::after
			content: ''
			position: absolute
			top: -#{$h_ellips}
			left: 50%
			width: $w_ellips
			height: $h_ellips
			margin-left: calc(-#{$w_ellips}/2)
			margin-top: -20px
			background:
				color: transparent
				image: url('../images/content/ellipse.png')
				size: contain
				repeat: no-repeat
		&::before
			content: ''
			position: absolute
			top: -#{$h_adv_ic}
			left: 50%
			width: $w_adv_ic
			height: $h_adv_ic
			margin-left: calc(-#{$w_adv_ic}/2)
			z-index: 1
			background:
				color: transparent
				image: url('../images/content/quarantee.png')
				size: contain
				repeat: no-repeat
	.mount
		&::before
			background-position: 16px 0px
			background-image: url('../images/content/clock.png')
	.guarant
		&::before
			background-position: 16px 0px
			background-image: url('../images/content/guarantee.png')
	.depart
		&::before
			background-image: url('../images/content/tape_measure.png')
			background-position: 0px 16px
	.prepayment
		&::before
			background-image: url('../images/content/wallet.png')

.guarant-label
	position: absolute
	width: 120px
	height: 120px
	top: 50%
	left: 50%
	color: $green_text
	font-size: 14px
	line-height: 2
	background:
		color: #FFFFFF
		image: url('../images/content/date_bg.png')
		size: 210%
		position: 50% -12px
		repeat: no-repeat

.footer
	font-size: 14px
	&__logo
		width: 300px
	.logo__ic
		min-width: $w_logo_ic_white
		width: $w_logo_ic_white
		height: $h_logo_ic_white
	.logo__text
		color: #FFFFFF
		border-left: 0px
		font-size: 12px
	&__copyright
		width: 500px
		text-align: center
		line-height: 1.5

.introduce
	background-color: #CCD0D2
	.bl__inner
		+flexbox
		+justify-content(space-between)
	&__side
		width: 50%
		background-color: aqua
		+flexbox
		+flex-direction(column)