
/*** HEADER BLOCK ***/

.wrap-header
	width: 100%
	height: 900px
	background:
		color: #C6D9D0
		image: url(../images/content/banner_bg_1.jpg)
		repeat: no-repeat
		size: cover
		//size: 650px
		//position: 84% 47px
	+flexbox
	+flex-direction(column)
	position: relative

.header
	width: 100%
	color: $col_font_main
	position: relative
	&__logo
		width: $w_header_logo
		+align-self(flex-start)
	.logo__text
		+align-self(flex-start)
	.quest
		margin-left: auto
		margin-top: 10px
		+align-self(flex-start)
	.ic_present
		margin-right: 7%
		margin-left: 6%
		margin-top: 1.5%
		+align-self(flex-start)
	.menu-nav
		margin-top: -30px

.header
	.bl__inner
		padding: $pTB_bl_in_header 0px
		+flexbox
		+justify-content(space-between)
		+align-items(center)

.contacts
	+flexbox
	+flex-direction(column)
	+align-self(end)
	&__text
		font-family: $ff_roboto
		font-size: 12px
		line-height: 2
	&__phone
		font-family: $ff_body
		font-size: 20px
		line-height: 1.2

.quest
	font-family: $ff_roboto
	font-size: 14px
	line-height: 2
	text-align: right
	.whatsapp
		margin-right: 3px

.menu-nav
	+flexbox
	padding: 0px 65px
	background-color: $col_menu_nav_bg
	+border_radius(4px)
	&-item
		display: inline-block
		font-family: $ff_nav
		font-size: 14px
		line-height: 2
		letter-spacing: 1px
		text-transform: uppercase
		color: $col_nav_menu
		border-top: 3px solid transparent
		padding: 12px 0px
		margin: 0px 20px
	&-li
		background-color: $col_menu_nav_bg
		&:hover
			.menu-nav-item
				border-top-color: $green
				color: $col_font_main

.main-banner
	height: 100%
	+flexbox
	flex: 1
	+align-items(center)
	.bl__inner
		max-width: 700px
		+flexbox
		+flex-direction(column)
		+align-items(flex-start)
		+justify-content(center)
	&__title
		font-size: $fs_main_banner_title
		font-family: $ff_bold
		letter-spacing: 1px
		line-height: 1.5
		text-align: left
		text-transform: uppercase
		margin-bottom: $mB_main_banner
	&__subtitle
		font-size: $fs_main_banner_subtitle
		font-family: $ff_roboto
		letter-spacing: 1px
		line-height: 1.5
		text-align: left
		margin-bottom: 15px
	.form-group
		margin-right: 10px

.advantage
	+flexbox
	+flex-wrap(wrap)
	+justify-content(space-between)
	width: 500px
	&-item
		font-size: 16px
		line-height: 3
		font-family: $ff_roboto
		margin-top: 60px
		width: $w_adv_it
		background-color: aqua
		//&:nth-child(2n + 2)
			margin-right: calc(100% - #{$w_adv_it * 2} - 40px)