*
  &:focus, &:active
    outline: none !important
html
  overflow: hidden

body
  font:
    family: $ff_body
    size: $fs_body
    weight: $fw_body
  color: $col_font_main
  line-height: 1
  min-width: $w_minBody
  margin: 0
  padding: 0
  height: $h_body
  background: $col_bg
  overflow-y: scroll

a
  color: inherit
  &:hover
    text-decoration: unset
    color: inherit
