
/*** ORDER BLOCK ***/

.order
	//background: $col_bg_grey url("/images/content/ruler.jpg") no-repeat 0 0
	background:
		color: $col_bg_grey
		image: url(../images/content/ruler.jpg)
		repeat: no-repeat
		size: cover

.order__bl--inner
	display: flex
	justify-content: flex-end
	position: relative


.order__questions
	display: none
	width: 30%
	padding: 30px 53px 5px 58px
	background: #ffffff
	border-radius: 5px
	position: absolute
	top: -270px
	left: -130px
	-webkit-box-shadow: 5px 5px 5px 0 rgba(198,198,198,1)
	-moz-box-shadow: 5px 5px 5px 0 rgba(198,198,198,1)
	box-shadow: 5px 5px 5px 0 rgba(198,198,198,1)
	z-index: 100
	+large_max
		left: 20px
	+medium_max
		width: 65%

.closeBtn
	content: ""
	display: inline-block
	width: 13px
	height: 13px
	position: absolute
	background: url("../images/ic/ic_close.svg")
	top: 20px
	right: 30px
	&:hover
		cursor: pointer

.order__wrapper
	width: 95%
	display: flex
	//margin-right: 55px
	+tablet_max
		width: 100%
		flex-direction: column

.order__title
	font-size: 20px
	line-height: 29px
	text-align: left
	font-weight: 500
	border-left: 3px solid #ffd800
	padding-left: 10px

.extraBold
	font-family: $ff_extraBold

.uppercase
	text-transform: uppercase

.order__questions-title
	font-weight: 100
	text-align: left
	font-size: 20px
	line-height: 25px

.lines
	display: block

.order .form-control
	background: transparent
	border-bottom: 1px solid #c6c6c6
	box-shadow: none
	padding: 10px 32px 5px 10px

.order__btn--send
	margin-bottom: 30px
	width: 100%

.order__btn--whatsapp
	background: #43c32e
	margin-right: 26px

.order__btn--telegram
	background: #44abe6

.btn--colored
	font-size: 14px
	line-height: 38px
	font-weight: 100
	font-family: $ff_body
	padding: 0 15px

.order__btn-social
	margin-bottom: 15px
	display: flex
	justify-content: space-between

.order__ps
	font-weight: 100
	font-style: italic
	font-size: 14px
	line-height: 38px
	text-align: center

.horizontal-line
	display: inline-block
	width: 90%
	height: 20px
	background: transparent
	border-bottom: 1px solid #c6c6c6
	position: relative
	left: 15px
	margin-bottom: 15px

.order__right--border
	border-right: 1px solid #c6c6c6
	padding-right: 15px
	+tablet_max
		border-right-color: transparent
		padding-right: 0

.order__col
	border: 3px solid #ffd800
	border-radius: 5px
	padding: 60px
	background: #ffffff
	+medium_max
		padding: 40px

.order__col.order__col-left
	width: 72%
	border-right-color: transparent
	padding-right: 0
	+tablet_max
		border-right-color: #ffd800
		width: 100%
		margin-bottom: 20px
		padding: 25px

.order__col.order__col-right
	width: 55%
	padding-left: 55px
	border-left-color: transparent
	+tablet_max
		border-left-color: #ffd800
		width: 100%

.order__col-right .order__btn--whatsapp
	margin-right: 5px

.order__title--light
	font-size: 20px
	line-height: 25px
	text-align: center
	border: none

.order__task-item
	padding-left: 30px
	font-size: 14px
	line-height: 1.8
	color: #8e8e8e
	position: relative
	&:before
		position: absolute
		content: ''
		display: inline-block
		width: 21px
		height: 16px
		left: 0
		top: 5px
		background:
			color: transparent
			image: url('../images/ic/ic_check.png')
			size: contain
			repeat: no-repeat

.order__text-colored
	font-size: 14px
	line-height: 23px

.order__phones
	padding: 20px 30px
	display: flex
	justify-content: space-between
	+medium_max
		padding: 15px 15px
		font-size: 13px
	+tablet_max
		font-size: 15px

.order__phones span
	font-family: $ff_bold

.order .form-control
	line-height: 1.5

