/* font size/family */
$fs_body: 16px
$fs_main: 1rem
$ff_body: 'Museo Cyrl Reg', 'Arial', sans-serif
$fw_body: 300
$ff_nav: 'Museo Cyrl Reg', 'Arial', sans-serif
$fs_nav: 14px
$fs_title: 30px
$fs_btn: 14px
$ff_btn: 'Museo Cyrl Reg', 'Arial', sans-serif
$ff_bold: 'Museo Cyrl Bold', 'Arial', sans-serif
$fw_title: 800


//width/heigth
$w_minBody: 450px
$h_body: 100vh


//padding/margin
$pLR_cont: 30px
$pTB_btn: 5px
$pLR_btn: 5px
$pTB_bl_in1: 25px
$pTB_bl_in2: 75px

//colors
$col_bg_main: #FFFFFF
$col_font_main: #3c3c3c
$col_font_btn: #FFFFFF
$col_bg_btn: #3c3c3c

$col_bg_grey: #e7ecee

//radius
$rad_form: 0px
$rad_btn: 30px