.our_works
	background: $col_bg_grey

.works__info
	display: flex
	justify-content: flex-start
	padding: 0 70px
	margin-bottom: 61px
	+medium_max
		flex-direction: column

.works__col
	width: 45%

.our_works .text-colored__in
	+medium_max
		font-size: 20px
	+phone_max
		font-size: 18px

.works__col--left
	width: 53%
	margin-right: 15%
	margin-bottom: 0
	+medium_max
		width: 100%
		margin-right: 0
		margin-bottom: 20px
	+phone_max
		margin-right: 0

.works__col--right
	border: 1px solid #ffffff
	border-radius: 6px
	padding: 20px 23px
	font-size: 16px
	line-height: 22px
	position: relative
	max-height: 100px
	&:after
		content: ''
		display: inline-block
		position: absolute
		width: 47px
		height: 39px
		bottom: -8px
		right: -28px
		background: url("../images/ic/ic_warning.svg") no-repeat

.td:nth-child(even)
	padding-left: 70px

tr.tr
	line-height: 1.45

.works__car-body
	padding-left: 38px

.works__card
	background: transparent
	border-color: transparent

.indicators
	bottom: 10px

.indicators li
	height: 4px
	width: 17px
	background-color: #c6c6c6
	border-color: transparent
	border-radius: 1px
	margin-right: 15px
	&:last-child
		margin-right: 0

.indicators .active
	height: 4px
	width: 17px
	background-color: #ffd800
	margin-right: 15px
	&:last-child
		margin-right: 0

.works__slider .carousel-arrow
	top: 30%

.works__slider_item
	width: 31%!important